<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>exam 3</td><td>Q1.movies_color()[pri:0, instance:mockExams.Q1@7f9a81e8]<br/></td></tr>
</table>
