<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>20/09/20 13:14:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Q1.afterClass()[pri:0, instance:mockExams.Q1@7f9a81e8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>20/09/20 13:05:15</td>   <td>-541785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Q1.beforeClass()[pri:0, instance:mockExams.Q1@7f9a81e8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>20/09/20 13:08:32</td>   <td>-344958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q1.movies_color()[pri:0, instance:mockExams.Q1@7f9a81e8]">movies_color</td> 
  <td>main@32017212</td>   <td></td> </tr>
</table>
