<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cpsatPkg0920.GroupingOne</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneZero</td>
<td>category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CTwoOne</td>
<td>category 2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneMinus</td>
<td>category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneOne</td>
<td>category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CTwoMinus</td>
<td>category 2 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>cpsatPkg0920.GroupingTwo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneZero</td>
<td>Group 2 category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CTwoOne</td>
<td>Group 2 category 2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneMinus</td>
<td>Group 2 category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>COneOne</td>
<td>Group 2 category 1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CTwoMinus</td>
<td>Group 2 category 2 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
