<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Group 2 category 1</td><td>GroupingTwo.COneOne()[pri:1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]<br/>GroupingTwo.COneMinus()[pri:-1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]<br/>GroupingTwo.COneZero()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]<br/></td></tr>
<tr><td>Group 2 category 2</td><td>GroupingTwo.CTwoMinus()[pri:-1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]<br/>GroupingTwo.CTwoOne()[pri:1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]<br/></td></tr>
<tr><td>category 1</td><td>GroupingOne.COneMinus()[pri:-1, instance:cpsatPkg0920.GroupingOne@4de8b406]<br/>GroupingOne.COneZero()[pri:0, instance:cpsatPkg0920.GroupingOne@4de8b406]<br/>GroupingOne.COneOne()[pri:1, instance:cpsatPkg0920.GroupingOne@4de8b406]<br/></td></tr>
<tr><td>category 2</td><td>GroupingOne.CTwoOne()[pri:1, instance:cpsatPkg0920.GroupingOne@4de8b406]<br/>GroupingOne.CTwoMinus()[pri:-1, instance:cpsatPkg0920.GroupingOne@4de8b406]<br/></td></tr>
</table>
