<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingTwo.COneMinus()[pri:-1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">COneMinus</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingOne.COneMinus()[pri:-1, instance:cpsatPkg0920.GroupingOne@4de8b406]">COneMinus</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingTwo.COneOne()[pri:1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">COneOne</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingOne.COneOne()[pri:1, instance:cpsatPkg0920.GroupingOne@4de8b406]">COneOne</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingTwo.COneZero()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">COneZero</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingOne.COneZero()[pri:0, instance:cpsatPkg0920.GroupingOne@4de8b406]">COneZero</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingTwo.CTwoMinus()[pri:-1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">CTwoMinus</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingOne.CTwoMinus()[pri:-1, instance:cpsatPkg0920.GroupingOne@4de8b406]">CTwoMinus</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingTwo.CTwoOne()[pri:1, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">CTwoOne</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupingOne.CTwoOne()[pri:1, instance:cpsatPkg0920.GroupingOne@4de8b406]">CTwoOne</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingOne.afterClass()[pri:0, instance:cpsatPkg0920.GroupingOne@4de8b406]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>146</td> <td>&nbsp;</td><td title="&lt;&lt;GroupingTwo.afterTest()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>20/09/09 12:17:15</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingOne.beforeClass()[pri:0, instance:cpsatPkg0920.GroupingOne@4de8b406]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeMethod()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>20/09/09 12:17:15</td>   <td>-60</td> <td>&nbsp;</td><td title="&gt;&gt;GroupingTwo.beforeTest()[pri:0, instance:cpsatPkg0920.GroupingTwo@6a2bcfcb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
</table>
